@media screen and (max-width:992px) {
  .header-aside h5{
    font-size: 1.1rem;
  }

  .ib-data-aside nav ul li a i{
    margin-right: 0;
  }
  
  .ib-data-aside nav ul li a span{
    display: none;
  }

  .ib-upgrade-button-cont button{
    font-size: .8rem;
  }

  .ib-upgrade-button-cont button i{
    font-size: 1.4rem;
    rotate: 270deg;
  }

  .ib-upgrade-button-cont button span{
    display: none;
  }

}

@media screen and (max-width:768px){
  .header-aside h5{
    font-size: .9rem;
  }
}